@page "/BoxOfficeDemo/Logout"
@page "/Logout"
@inherits CustomComponentBase

<h3>Logout...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await AuthenticationService.Logout();
            NavigationManager.NavigateTo("/BoxOfficeDemo", true);
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
    }
}
