@page "/BoxOfficeDemo/Logout"
@page "/Logout"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.Logout();        
        NavigationManager.NavigateTo("/BoxOfficeDemo",true);
    }
}
