@using BoxOfficeDemo.Client.Configurations.Toast;
@inject IWatchListService WatchListService
@inject IModalService ModalService
@inherits LayoutComponentBase

<Toasts Position="ToastPosition.BottomLeft"
        Timeout="3"
        SuccessClass="success-toast-override"
        SuccessIconClass="fa fa-thumbs-up"
        ErrorIconClass="fa fa-bug" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <WatchListNotify ShowWatchList="@(()=> ModalService.Show<MyWatchList>("My Watch List", new ModalOptions{ActivateFocusTrap=false, Position=ModalPosition.TopRight, AnimationType=ModalAnimationType.FadeInOut}))"></WatchListNotify>
        </div>

        <article class="content px-4">
            <CascadingValue Value="_DateFormat" Name="DateFormat">
                <CascadingValue Value="_TimeFormat" Name="TimeFormat">
                    <CascadingValue Value="_Culture" Name="Culture">
                        @Body
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    string _DateFormat = "dd/MM/yyyy";
    string _TimeFormat = "hh\\:mm";
    public bool ToggleWatchLater { get; set; } = false;
    public bool IsLoading { get; set; }

    IFormatProvider _Culture = System.Globalization.CultureInfo.InvariantCulture;
}
