@using BoxOfficeDemo.Client.Pages.Account
@inject IModalService ModalService
@inject Sessions CurrentUser
<AuthorizeView>
    <Authorized>
        Hello, @this.CurrentUser.Get("Name")
        <a href="Logout" class="animated-underline mx-2"><i class="bi bi-box-arrow-left mx-1"></i>Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Registration" class="animated-underline mx-2"
            @onclick="@(()=> ModalService.Show<Registration>("New Account",
                new ModalOptions{
                    Class=$"custom-modal {Theme.ModalClass} size-medium",
                    ActivateFocusTrap=false,
                    AnimationType=ModalAnimationType.FadeInOut,
                    Position=ModalPosition.Middle
                }))"
        @onclick:preventDefault>
            <i class="bi bi-person-plus-fill mx-1"></i>
            Register
        </a>
        <a href="/Login" class="animated-underline mx-2"
            @onclick="@(()=> ModalService.Show<Login>("Login",
                new ModalOptions{
                    Class=$"custom-modal {Theme.ModalClass} size-medium",
                    ActivateFocusTrap=false,
                    AnimationType=ModalAnimationType.FadeInOut,
                    Position=ModalPosition.Middle
                }))"
        @onclick:preventDefault>
            <i class="bi bi-box-arrow-in-right mx-1"></i>
            Log in
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        CurrentUser.OnChange += StateHasChanged;
    }

}
