@using BoxOfficeDemo.Client.Pages.Account
@inject IModalService ModalService
@inject CurrentSession CurrentUser
<AuthorizeView>
    <Authorized>
        @*Hello, @context.User.Identity.Name!*@
        Hello, @this.CurrentUser.Get("Name")
        <a href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Registration" @onclick="@(()=> ModalService.Show<Registration>("New Account",new ModalOptions{ActivateFocusTrap=false,AnimationType=ModalAnimationType.FadeInOut,HideHeader =true,Position=ModalPosition.Middle}))" @onclick:preventDefault>Register</a>
        <a href="Login" @onclick="@(()=> ModalService.Show<Login>("Login",new ModalOptions{ActivateFocusTrap=false,AnimationType=ModalAnimationType.FadeInOut,HideHeader =true,Position=ModalPosition.Middle}))" @onclick:preventDefault>Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        CurrentUser.OnChange += StateHasChanged;
    }

}
