@if (Toggle)
{
    <div class="col-12 loading-spinner justify-content-center">
        <div class="spinner-grow text-primary m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-primary m-2" role="status">
            <span class="sr-only"></span>
        </div>
        <div class="spinner-grow text-danger m-2" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
@code {
    [Parameter]
    public bool Toggle { get; set; }
}
