@inject IWatchListService WatchListService
@inherits BaseComponent

@if (WatchListService.WatchListList.Count == 0)
{
    <h4>Watch later list is empty.</h4>
}
<Virtualize Context="WatchList" Items="WatchListService.WatchListList">
    <div class="row">
        <div class="col text-center p-0">
            <img src="@WatchList.Image" width="40" height="60" />
        </div>
        <div class="col-6 m-auto">
            <h4>@WatchList.MovieName</h4>
        </div>
        <div class="col m-auto">
            <button class="btn btn-danger" @onclick="async ()=> await Remove(WatchList.Id)">Remove</button>
        </div>
    </div>
</Virtualize>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LoadList();
        base.OnInitialized();
    }

    private async Task LoadList()
    {
        IsLoading = true;
        if (LoggedUser.Id != null)
            await WatchListService.GetWatchList(LoggedUser.Id);
        IsLoading = false;
    }

    private async Task Remove(decimal? id)
    {
        await WatchListService.DeleteWatchList(id);
        await LoadList();
        StateHasChanged();
    }
}
