@inject IWatchListService WatchListervice

<button type="button" class="btn btn-outline-primary position-relative m-0 roundedcorner"
        @onclick="async ()=> await ShowWatchList.InvokeAsync()">
    @*@onclick="WatchListervice.Reset"*@
    My Watchlist
    <i class="oi oi-list-rich"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @if (WatchListervice.Count > 0)
        {
            @WatchListervice.Count
        }
    </span>
</button>

@code {
    [Parameter]
    public EventCallback<bool> ShowWatchList { get; set; }
    protected override void OnInitialized()
    {
        WatchListervice.OnChange += StateHasChanged;
    }
}
