@inject NotifyService WatchListNotifyService
<AuthorizeView>
    <Authorized>
        <button type="button" class="btn btn-outline-primary position-relative mx-3" style="border-radius:15px;"
                @onclick="async ()=> await ShowWatchList.InvokeAsync(true)">
            @*@onclick="WatchListNotifyService.Reset"*@
            My Watchlist
            <i class="oi oi-list-rich"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @if (WatchListNotifyService.Count > 0)
                {
                    @WatchListNotifyService.Count
                }
            </span>
        </button>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public EventCallback<bool> ShowWatchList { get; set; }
    protected override void OnInitialized()
    {
        WatchListNotifyService.OnChange += StateHasChanged;
    }
}
